<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a
        [routerLink]="['/servers', server.id]"
        [queryParams]="{ page: currentPage }"
        fragment="loading"
        class="list-group-item"
        *ngFor="let server of servers"
      >
        {{ server.name }}
      </a>
      <button (click)="onPreviousPage()">Previous Page</button>
      <button (click)="onNextPage()">Next Page</button>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
    <!-- <button class="btn btn-primary" (click)="onReload()">Reload</button>
    <app-edit-server></app-edit-server>
    <hr /> -->
    <!-- <app-server></app-server> -->
  </div>
</div>
